<div th:fragment="forgot-password">
    <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
         id="forgotPasswordModal"
         th:classappend="${showPasswordForgotModal} ? 'flex' : 'hidden'">
        <div class="bg-white rounded-2xl shadow-lg w-96 p-6">
            <h2 class="text-xl font-bold mb-4">Forgot Password</h2>
            <form class="space-y-4" method="post"
                  th:action="@{/forgot-password}" th:object="${forgotForm}">
                <input class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-indigo-300" placeholder="Enter your email"
                        th:field="*{email}" id="forgot-email">

                <p th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class="mt-1 text-sm text-red-600"></p>
                <button
                        class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700"
                        type="submit">
                    Send Reset Link
                </button>
            </form>
            <button id="close-forgot-password" class="mt-4 text-sm text-gray-500 hover:underline">Cancel
            </button>
        </div>
    </div>
</div>
