<article th:fragment="resource-card(resource)" id="resource-card"
         class="rounded-2xl border bg-white shadow-sm
         overflow-hidden">
    <img th:src="@{/resources/image/{id}(id=${resource.id})}"
         class="h-40 w-full object-cover" alt="resource image"/>
    <div class="p-5">
        <h3 class="font-semibold" th:text="${resource.title}">REST APIs &
            Validation</h3>
        <p class="mt-1 text-sm text-gray-600 line-clamp-2"
           th:text="${resource.description}">Build robust
            JSON APIs with DTOs, @Valid, and error handling.</p>
        <div class="mt-4 flex items-center justify-between">
<!--            <div class="text-sm text-gray-500"-->
<!--                 th:text="${resource.resourceCount +' resources'}">31-->
<!--                resources</div>-->
            <a
                    th:href="@{/resources/{id}(id=${resource.id})}"
                    class="rounded-lg bg-gray-900 px-3 py-1.5 text-sm font-semibold text-white hover:bg-black">
                Browse
            </a>
        </div>
    </div>
</article>