<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen flex items-center justify-center">

<div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8">
    <!-- Logo / Header -->
    <div class="text-center mb-6">
        <h1 class="text-2xl font-bold text-gray-900">Reset your password</h1>
        <p class="text-gray-600 text-sm mt-2">Enter your new password below</p>
    </div>

    <!-- Reset Password Form -->
    <form th:action="@{/global-sphere/reset-password}"
          th:object="${resetPasswordForm}"
          method="post" class="space-y-5">

        <!-- Hidden token -->
        <input type="hidden" th:field="*{token}"/>

        <p th:if="${invalidToken != null }" th:text="${invalidToken}"
           class="text-red-500 text-sm mt-1"></p>
        <div>
            <label for="password"
                   class="block text-sm font-medium text-gray-700">New
                Password</label>
            <input type="password" th:field="*{password}" id="password" required
                   class="mt-2 block w-full rounded-xl border border-gray-300 px-4 py-2.5 text-gray-900 focus:ring-2 focus:ring-gray-900 focus:border-gray-900 outline-none"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
               class="text-red-500 text-sm mt-1"></p>
        </div>

        <div>
            <label for="confirmPassword"
                   class="block text-sm font-medium text-gray-700">Confirm
                Password</label>
            <input type="password" th:field="*{confirmPassword}"
                   id="confirmPassword" required
                   class="mt-2 block w-full rounded-xl border border-gray-300 px-4 py-2.5 text-gray-900 focus:ring-2 focus:ring-gray-900 focus:border-gray-900 outline-none"/>
            <p th:if="${#fields.hasErrors('confirmPassword')}"
               th:errors="*{confirmPassword}"
               class="text-red-500 text-sm mt-1"></p>
        </div>

        <button type="submit"
                class="w-full rounded-xl bg-gray-900 px-4 py-2.5 text-sm font-semibold text-white hover:bg-black transition">
            Update Password
        </button>
    </form>


    <!-- Back to login -->
    <div class="mt-6 text-center">
        <a th:href="@{/home}" class="text-sm text-blue-600 hover:underline">Back
            to Sign in</a>
    </div>
</div>

</body>
</html>
